.changeOrder{
    display: flex;
    border-style: outset;
    background-color: white;
    margin: auto;
    margin-top: 1em;
    max-width: 20em;
    height: 22em;
    flex-wrap: wrap;
    overflow: auto;
}

.changeOrderBox{
    margin: auto;
    padding: 0;
}

.foodItem .button{
    background-color: orange;
    width: 8em;
    margin-top: 1em;
}

.item{

    border-bottom-style: double;
}

.orderItem{
    border-bottom: 1px;
}