.orderBox {
    display: block;
    border: 1px;
    padding: 5px;
    font: 12px/36px sans-serif;
    max-width: 30em;
    height: 18em;
    overflow: auto;
}

.orderBoxValues{
    list-style: none;
    flex-wrap: wrap;

}


.Offer-Header{
    background: darkgray;
}

.orderItem{
    display: flex;
    justify-content: space-between;
}

.FoodItem{
    background: antiquewhite;

}


.Offer-Header{
    display: flex;
    justify-content: space-between;
    
}

.orderBoxValues > div:not(:nth-last-child(1)):not(:nth-last-child(2)){
    margin-bottom: 1em;
    border-bottom-style: ridge;
}

.totalPrice{
    display: flex;
    justify-content: space-between;
    border-top-style: groove;
}

.orderButtons{
    display: flex;
    margin: 0;
    padding: 0;

}

.orderButtons button{
    height: 3em;
    width: 9em;
    background: red;
}

.orderButtons button a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    padding-top: 0.3em;
    font-size: 14px;
    font-weight: bold;
}



.PLUS_VALUES {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
}

.MINUS p{
    margin-left: 1em;
}

.orderButtons button p{
    display: inline-flex; /* keep the inline nature of buttons */
    align-items: flex-start; /* this is default */
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    font-size: 14px;
    font-weight: bold;
}