
.content{
    background-color: rgb(117, 117, 110);
}

.offer-list{
    background-color: rgb(201, 40, 152);
    list-style: none;
    max-width: 51em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 10px 20px 10px;
    vertical-align: top;
}

.offer-item{
    border-style: outset;
    background-color: rgb(254, 254, 254);
    width: 16em;
    height: 26em;
}

li{
    position: relative;
}

.name{
    text-align: center;
}


.description{
    margin: auto;
    position: relative;
    max-width: 10em;
}

.price{
    position: absolute;
    bottom: 1.5em;

}

.offerImage{

}






